.chart {
  background-color: transparentize(#FFF, 0.5);
  margin-top: 2em;
  position: relative;
  margin-bottom: 1em;
  width: 100%;
  padding: 0.5em;
}

.graph {
  height: 225px;
  margin: 1em 0;
  font-size: .7em;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.dem .square { background-color: blue; }
.rep .square { background-color: red; }
.ind .square { background-color: green; }

.square {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.candidates {
  margin-top: 0.5em;
  font-size: 0.8em;
  p {
    display: inline;
  }
  p span {
    font-weight: bold;
  }
}

.race_info .title {
  font-weight: bold;
  font-size: 0.825em;
  line-height: 1;
}

.chart_info {
  font-weight: 300;
  font-size: .75em;

  a {
    text-decoration: none;
    color: $purple;
    &:hover { text-decoration: underline; }
  }
}
