#tabs {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	#youTab {
		display: inline-block;
		background-color: black;
		color: white;
		border: 2px solid #000;
		width: 200px;
		cursor: pointer; cursor: hand;
	}
	#tellascopeTab {
		display: inline-block;
		border: 2px solid #000;
		width: 200px;
		cursor: pointer; cursor: hand;
	}
}
#searchBar {
	margin-top: 30px;
	#searchText {
		@include span-columns(2 of 12);
		text-align: center;
		-webkit-margin-before: 0.3em;

	}
	#tags {
		@include span-columns(10 of 12);
		text-align: center;
	}
	.tagsinput { 
		border-radius:15px; 
		-moz-border-radius:15px; 
		-webkit-border-radius:15px;
	}
	.tag { 
		border-radius:7px; 
		-moz-border-radius:7px; 
		-webkit-border-radius:7px;
	}
}

#fsBar {
	margin-top: 30px;
	@include outer-container();
	#filterBar {
		@include span-columns(6 of 12);
		#filter-select {
			width: 50%;
		}
	}
	#sortBar {
		@include span-columns(6 of 12);
		#sortRight {
			float: right;
			width: 60%;
			#sort-text {
				@include span-columns(3 of 12);
			}
			#sort_select_chosen {
				@include span-columns(9 of 12);
			}
			#sort-select {
				width: 74%;
			}
		}
	}
}

#results {
	@include outer-container();
	margin-top: 50px;
	.postit {
		margin-bottom: 25px;
		@include omega(4n);
		@include span-columns(3 of 12);
	}
}
.remodal-body {
	text-align: left;
	.uarComment {
		width: 100%;
	}
}
.remodal-footer {
	margin-top: 2em;
	text-align: right;
}