footer {
  margin-top: 100px;
  background-color: $purple;
  color: white;
  width: 100%;

  .content-wrapper {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .credits p {
      font-size: .875em;
      margin: 0;
      line-height: 1.5em;
    }
  }
}

$footer-height: 60px;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
  margin-bottom: -($footer-height);
}

main:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: $footer-height;
}
