.section {
	width: 100%;
	min-height: 400px;
}

#header {
	background-color: orange;
}

#about {
	background-color: green;
}

#learn {
	background-color: yellow;
}

#about {
	background-color: red;
}

h1 {
	margin: 0;
}