h1 { margin: 0; }
h2 { font-weight: 200; }
h3 { font-weight: 600; }

.section {
	width: 100%;
	padding: 5em 0;
	z-index: 125;
	
	h1, h2 { text-align: center; }
	
	h1 {
		text-transform: uppercase;
		font-size: 3em;
		margin-bottom: 1em;
		font-weight: 300;
	}
}



.logo {
	z-index: 120;
	color : white;
	padding-right: 3em;

	#tellascope {
		text-align: center;
		font-size: 46px;
		font-weight: 700;
		letter-spacing: 7px;
		padding: 10px;
		border: 7px solid;
		text-transform: uppercase;
		width: 100%;
		margin: 0;
	}

	#tagline {
		text-align: left;
		display: block;
		font-size: 1.5em;
		font-weight: 300;
		letter-spacing: 1;
	}
}

.create-account {
	padding: 1em 2.5em;
	background-color: #fff;

	.instruct {
		text-transform: uppercase;
		position: relative;
		width: 75%;
		margin: 1.375em auto;
		font-size: 0.8em;
		text-align: center;

		span {
			background: #fff;
  			padding: 0 15px;
  			position: relative;
  			z-index: 1;
		}

		&:before {
		  background: #ddd;
		  content: "";
		  display: block;
		  height: 1px;
		  position: absolute;
		  top: 50%;
		  width: 100%;
		}
	}

	.social {
		a {
			text-decoration: none;

			div {
				border: 2px solid;
				padding: 5px;
				width: 100%;
				text-align: center;
				font-size: 1em;

				&.twitter { border-color: #55acee; color: #55acee;}
				&.facebook { border-color: #3b5998; color: #3b5998;}

			}

			&:hover div { 
				color: #fff; 
				&.twitter { background-color: #55acee; }
				&.facebook { background-color: #3b5998; }
			}
		}
	}

	form {
		width: 100%;
		margin: 0 auto;

		.field-wrapper {
			margin: 1em auto;
		}

		.errorList {
			list-style: none;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			-webkit-padding-start: 0;
			padding: 2px;
			padding-left: 5px;
			font-size: .875em;
			color: red;
		}

		input {
			padding: 5px;

			&[type=text],
			&[type=email],
			&[type=password] {
				width: 100%;
				border: 2px solid;
				border-color: #ddd;

				&:focus {
					outline: none;
					border-color: #000;
				}

				&:-webkit-input-placeholder,
				&:-moz-placeholder,
				&:-ms-input-placeholder { 
					font-size: 1em;
				}
			}

			&[type=submit] {
				float: right;
				position: relative;
				border: 2px solid;
				background-color: #fff;
				color: #FFA07A;
				border-color: #FFA07A;
				margin-bottom: 1.375em;

				&:hover {
					color: #fff;
					background-color: #FFA07A;
				}
			}
		}

		.field-error input {
			border-color: transparentize(red,.3);
			background-color: transparentize(red,.8);
			
			&::-webkit-input-placeholder {
			    color: red;
			}
			&:-moz-placeholder {
			    color: red;
			}
			&::-moz-placeholder {
			    color: red;
			}
			&:-ms-input-placeholder {
			    color: red;
			}

		}
		
		label { display: none; }
		.helptext { display: none; }
	}
}


#header {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../img/header.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#about {
	background-color: #fff;

	.value {
		@include span-columns(4);

		i {
			font-size: 5em;
			text-align: center;
			width: 100%;
		}

		h2 { text-align: center; }
	}
}


#learn {
	background-color: #eaeced;
}

#team {
	.team-member {
		@include omega(3n);
		@include span-columns(4 of 12);

		img { @include fill-parent(); }
	}
}
