h2 {
	font-weight: 200;
}

.section {
	width: 100%;
	display: table;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	width: 100% !important;
	z-index: 125;

	h1 {
		text-align: center;
		text-transform: uppercase;
		font-size: 3em;
		padding: 15px 20px;
		font-weight: 300;
		max-width: 400px;
		margin: 0 auto;
		margin-top: 60px;
	}
}

.cont {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	z-index: 120;

	span {
		color: white;
	}

	#tellascope {
		font-size: 46px;
		font-weight: 700;
		letter-spacing: 7px;
		padding: 20px 33px;
		border: 7px solid;
		cursor: default;
		text-transform: uppercase;
	}

	#tagline {
		display: block;
		padding-top: 50px;
		font-size: 1.5em;
		font-weight: 300;
		letter-spacing: 1;
	}
}

.values-container {
	padding-top: 5%;
}

form {
	background-color: white;
	padding: 50px;
	margin-top: 5%;
}

.form {
	margin: 0 auto;
	max-width: 600px;

	input {
		display: block;
		margin-bottom: 20px;
		margin-left: 150px;
		&:focus {
			border: solid 1px #018ace;
		}
	}

	input[type="submit"] {
		background-color: #018ace;
		color: #fff;
		text-transform: uppercase;
	}

	label {
		margin-left: 150px;
	}

	span { display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold; }
	input { width: 200px; border: 1px solid #ccc; padding: 5px; }

	ul.errorlist {
		display: none;
	}
}

#header {
	background: url("../img/header.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#about {
	background-color: #fff;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.fa {
	font-size: 5em;
}

div#about {
	div#value1 {
		@include span-columns(4);

		div#value1img {
			@include span-columns(4 of 4);
			@include omega;
		}
		div#value1text {
			@include span-columns(4 of 4);
		}
	}
	div#value2 {
		@include span-columns(4);

		div#value2img {
			@include span-columns(4 of 4);
			@include omega;
		}
		div#value2text {
			@include span-columns(4 of 4);
		}
	}
	div#value3 {
		@include span-columns(4);

		div#value3img {
			@include span-columns(4 of 4);
			@include omega;
		}
		div#value3text {
			@include span-columns(4 of 4);
		}
	}
}

#learn {
	background-color: #eaeced;
}

div#team {
	@include outer-container;
	div#member1{ @include span-columns(4);}
	div#member2{ @include span-columns(4);}
	div#member3{ @include span-columns(4); @include omega; }
	div#member4{ @include span-columns(4); }
	div#member5{ @include span-columns(4); }
	div#member6{ @include span-columns(4); @include omega; }
}

.memberImg {
	height: 285px;
	width: auto;
}

#about {
	background-color: #fff;
}

h1 {
	margin: 0;
}