p.info {
  font-weight: 600;
  @include serif;
  margin-bottom: 2.5em;

  @include media($large) {
    @include span-columns(10 of 12);
  }

  @include media($medium) {
    @include span-columns(10 of 12);
  }

  @include media($small) {
    @include span-columns(8 of 8);
  }
}

article.post {
  background-color: transparentize($purple, 0.8);

  @include media($large) { padding: 2em; }
  @include media($medium) { padding: 1em; }
  @include media($small) { padding: 0.75em; }

  position: relative;

  clear: both;
  float: none !important;
  margin-top: 4em;

  &:first-of-type { margin-top: 2.5em; }

  h3 {
    @include serif;
    font-size: 1.375em;
    margin-bottom: 0.25em;
    line-height: 1.1;

    a {
      color: $purple;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: $purple;
    text-decoration: underline;
  }

  .meta {
    font-size: .875em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1em;

    .authors {
      margin-right: 7px;
      text-transform: uppercase;
    }

    .date {
      font-weight: 500;
    }
  }

  .content {
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    @include media($large) {
      @include span-columns(8 of 12);
    }

    @include media($medium) {
      @include span-columns(10 of 12);
      padding-right: 1em;
    }

    @include media($small) {
      @include span-columns(8 of 8)
    }
  }

  .state {
    color: transparentize($purple, 0.2);
    font-size: 5em;
    text-align: right;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    display: block;
    padding: 0.2em;
    overflow: visible;
    font-weight: normal;
    @include media($small) {
      display: none;
    }
  }

}
