$purple: #501F84;
$orange: #EC380E;
$grey: #333333;

$large: new-breakpoint(min-width em(650));
$medium: new-breakpoint(min-width em(401) max-width em(649) 12);
$small: new-breakpoint(max-width em(400) 8);

$masthead-height: 40px;

@mixin serif {
  font-family: "ff-meta-serif-web-pro", serif;
}
