{% extends "base.html" %}


{% block content %}

	<div id = "searchBar">
		<h2 id = "searchText">Search</h2>
		{% for field in form %}
		<form>
		    <div class="field-wrapper {% if field.errors%} field-error {% endif %}">
		        {{ field }}
		    </div>
		</form>
		{% endfor %}
	</div>


	<div class="main">
			<ul id="og-grid" class="og-grid">
				{% for uar in uars %}
				{% with uar.article as article %}
				<li>
					<a href="{{ article.url }}" target="_blank" data-largesrc="../static/img/1.jpg" data-title="{{ article.title }}" data-description="{% for tag in article.tags.all %}
                                <span class='article-tag'>{{ tag }}</span>
                            {% endfor %}<p id='article-sharedby'>Shared by {{ article.share_count }} people you follow</p>">
						<div class="article-element">
							<h1>{{ article.title|truncatechars:50 }}</h1>
							<p>A {{ article.read_time|time:"i" }} minute read</p>
							<p>{{ article.author }}</p>
<!-- 							<p>{{ article.excerpt }}</p> -->
							<p id="article-source">via {{ article.source }}</p>
						</div>
					</a>
				</li>
				{% endwith %}
				{% endfor %}
			</ul>
		</div>

		<script src="../static/js/lib/results-preview/grid.js"></script>
		<script type="text/javascript">
			$(function() {
					Grid.init();
			});
			$( document ).ready(function() {
				$('#id_tags_tag').focus();
			});
			$('#id_tags').tagsInput({
			  'width':'80%',
			  'height':'40px'
			});
		</script>

{% endblock %}