{% extends "base.html" %}


{% block content %}

	<div id = "searchBar">
		<h2 id = "searchText">Search</h2>
		{% for field in form %}
		<form>
		    <div class="field-wrapper {% if field.errors%} field-error {% endif %}">
		        {{ field }}
		    </div>
		    <input type="submit" value="search">
		</form>
		{% endfor %}
	</div>


	<div class="main">
			<ul id="og-grid" class="og-grid">
				{% for article in articles %}
				<li>
					<a href="{{ article.url }}" target="_blank" data-largesrc="../static/img/1.jpg" data-title="{{ article.title }}" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<div class="article-element">
							<h1>{{ article.title|truncatechars:50 }}</h1>
							<p>{{ article.author }}</p>
							<p id="article-source">via {{ article.source }}</p>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<script src="../static/js/lib/results-preview/grid.js"></script>
		<script type="text/javascript">
			$(function() {
					Grid.init();
			});

			$( document ).ready(function() {
				$('#id_tags_tag').focus();
			});
			$('#id_tags').tagsInput({
				'width':'80%',
				'height':'40px'
			});
			$('input').keypress(function(e) {
				if (e.which == 13) {
					$('form').submit();
				}
			});
		</script>

{% endblock %}