{% extends "base.html" %}

{% block content %}

<div class="section" id="header">
	<div class="cont">
		<span id="tellascope">Tellascope</span>
		<br />
		<span id="tagline">Magnifying context of the news that matters to you</span>
	</div>
</div>

<div class="section text-center" id="about">
	<h1>About</h1>
	<div id = "value1">
		<div id = "value1img">
			<i class="fa fa-scissors"></i>
		</div>
		<div id = "value1text" class = "text-center">
			<h1>Cut through the clutter</h1>
		</div>
	</div>
	<div id = "value2">
		<div id = "value2img">
			<i class="fa fa-university"></i>
		</div>
		<div id = "value2text" class = "text-center">
			<h1>Learn from thought leaders</h1>
		</div>
	</div>
	<div id = "value3">
		<div id = "value3img">
			<i class="fa fa-arrow-down"></i>
		</div>
		<div id = "value3text" class = "text-center">
			<h1>Dive as deep as you want</h1>
		</div>
	</div>
</div>

<div class="section" id="learn">
	<div class="form">
 		<h1>Learn more</h1>
		<form method="post" action="">
	    	{{ form }}
	    	{% csrf_token %}
	    	<input type="submit" value="Submit">
		</form>
	</div>
</div>

<div class="section" id="team">
	<h1>Team</h1>
	<div id = "member1" class = "text-center">
		<h3>Alex Duner</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p>Hello World<p>
	</div>
	<div id = "member2" class = "text-center">
		<h3>Brian Lichliter</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p>Hello World<p>
	</div>
	<div id = "member3" class = "text-center">
		<h3>Eric Swank</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p>Hello World<p>
	</div>
	<div id = "member4" class = "text-center">
		<h3>Karen Wang</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p class = "text-left">Currently a graduate student, Integrated Marketing Communications of Medill School of Journalism. Prior to Medill, I worked for six years in multiple industries including manufacturing, internet, education and social innovation. I am interested in and passionate about entrepreneurship and creating things from scratch. I’m not religous, but I do believe in love, friendship and learning by doing. If I can do something to make the world and serve people better, I’ll go for it. Tellacope is definitely one of them.<p>
	</div>
	<div id = "member5" class = "text-center">
		<h3>Lindsay Saran</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p class = "text-left">Currently a graduate student, Integrated Marketing Communications of Medill Raised, breed and fed in Chicago Working at a media agency, specializing in developing, activating and evaluating digital media programs across CPG, Beauty, Retail and Financial categories A lover of music, tech, sarcasm, traveling & exploring as far as my airline miles will take me, doing crazy workout classes and then reversing them fancy cocktails & food Hoping that Tellascope helps you make sense of the world. <p>
	</div>
	<div id = "member6" class = "text-center">
		<h3>Nicole Zhu</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p>Hello World<p>
	</div>
</div>
{% endblock %}