{% extends "base.html" %}

{% block content %}

<div class="section" id="header">
	<div class="cont">
		<span id="tellascope">Tellascope</span>
		<br />
		<span id="tagline">Magnifying context of the news that matters to you</span>
	</div>
</div>

<div class="section text-center" id="about">
	<h1>About</h1>
	<div class="values-container">
		<div id = "value1">
			<div id = "value1img">
				<i class="fa fa-scissors"></i>
			</div>
			<div id = "value1text" class = "text-center">
				<h2>Cut through the clutter</h2>
				<p class = "text-left">Tellascope organizes and visualizes news in a clear and understandable way. You can now easily find the news as well as the context that matters to you without any doubt and hesitation among overwhelming sources.</p>
			</div>
		</div>
		<div id = "value2">
			<div id = "value2img">
				<i class="fa fa-university"></i>
			</div>
			<div id = "value2text" class = "text-center">
				<h2>Learn from thought leaders</h2>
				<p class = "text-left">Experts from different fields are here on Tellascope. You have access to all these experts and learn from their ideas and insights in a much more structured way. We believe everyone can be an expert one day on Tellascope.</p>
			</div>
		</div>
		<div id = "value3">
			<div id = "value3img">
				<i class="fa fa-arrow-down"></i>
			</div>
			<div id = "value3text" class = "text-center">
				<h2>Dive as deep as you want</h2>
				<p class = "text-left">There is no depth limitation on Tellascope. We provide high-quality resources and tools to help you understand news better and deeper. Also you can create your own collection of news and articles which you want to know more and share with your friends. </p>
			</div>
		</div>
	</div>
</div>

<div class="section" id="learn">
	<div class="form">
 		<h1>Learn more</h1>
		<form method="post" action="">
	    	{{ form }}
	    	{% csrf_token %}
	    	<input type="submit" value="Submit">
		</form>
	</div>
</div>

<div class="section" id="team">
	<h1>Team</h1>
	<div id = "member1" class = "text-center">
		<h3>Alex Duner</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Alex.jpg">
		<p class = "text-left">Currently studying Journalism and Computer Science at Northwestern University. Works as a journalist and developer at the Knight Lab and North By Northwestern. Recently worked for the Texas Tribune.<p>
	</div>
	<div id = "member2" class = "text-center">
		<h3>Nicole Zhu</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Nicole.jpg">
		<p class = "text-left">Currently pursuing a B.A. in Computer Science. Interested in design and web development, particularly at the intersection of journalism and technology where she works as a Student Fellow at the Knight Lab and conducting crowdsourcing research at Delta Lab. Previously worked at Vox Media.<p>
	</div>
	<div id = "member3" class = "text-center">
		<h3>Brian Lichliter</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Brian.jpg">
		<p class = "text-left">Currently pursuing a B.S. in Computer Engineering and the M.S. in Engineering Design and Innovation. Worked as an automation engineer over the summer for Visa. My interests lie in the human-centered design of technology.  <p>
	</div>
	<div id = "member4" class = "text-center">
		<h3>Karen Wang</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Karen.jpg">
		<p class = "text-left">Currently a graduate student, Integrated Marketing Communications of Medill School of Journalism. Prior to Medill, I worked for six years in multiple industries including manufacturing, internet, education and social innovation. If I can do something to make the world and serve people better, I’ll go for it. Tellacope is definitely one of them.<p>
	</div>
	<div id = "member5" class = "text-center">
		<h3>Eric Swank</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Eric.jpg">
		<p class = "text-left">Currently pursuing a B.A. in Economics, Business Institutions; Certificate in Entrepreneurship. Incoming business analyst for a global consulting firm specializing in sales and marketing strategy. <p>
	</div>
	<div id = "member6" class = "text-center">
		<h3>Lindsay Saran</h3>
		<img class = "memberImg" src = "../static/img/teamPictures/Lindsay.jpg">
		<p class = "text-left">Currently a graduate student, Integrated Marketing Communications of Medill. Raised, bred and fed in Chicago Working at a media agency, specializing in developing, activating and evaluating digital media programs across CPG, Beauty, Retail and Financial categories. Hoping that Tellascope helps you make sense of the world. <p>
	</div>
</div>
{% endblock %}