{% load endless %}

{% paginate 50 object_list %}
{% for uar in object_list %}
{% with uar.article as article %}
<li>
	<a href="{{ article.url }}" target="_blank" data-largesrc="../static/img/1.jpg" data-title="{{ article.title }}" data-description="{% for tag in article.tags.all %}
                <span class='article-tag'>{{ tag }}</span>
            {% endfor %}{% for author in article.authors.all %}<p id='article-sharedby'>{{ author }}</p>{% endfor %}<p id='article-excerpt'>{{ article.excerpt }}</p>" data-comments="<p id='article-sharedby'>Shared by {{ article.share_count }} people you follow</p><div class='user-comment'><p class='article-comment'><i class='flaticon-user65'></i><span>Thought-provoking read!</span></p><p class='article-comment'><i class='flaticon-user65'></i><span>Killer passages!</span></p><p class='article-comment'><i class='flaticon-user65'></i><span>Insightful, incisive writing</span></p></div>">
		<div class="article-element">
			<h1>{{ article.title|truncatechars:50 }}</h1>
			{% for author in article.authors.all %}
			<p>{{ author }}</p>
			{% endfor %}
			<i id = "{{ uar.pocket_item_id }}" class="fa fa-share"></i>
			<p id="article-source">{{ article.read_time }} minute read</p>
		</div>
	</a>
</li>
<div class="remodal" data-remodal-id="{{ uar.pocket_item_id }}">
	<div class = "remodal-body">
	    <h1>{{ article.title }}</h1>
	    <h2>by 
	    {% for author in article.authors.all %}
		{{ author }}
		{% endfor %}
		</h2>
	    <br>
	   	<p>Comment</p>
	   	<textarea rows = "3" class = "uarComment"></textarea>
	</div>
	<div class = "remodal-footer">
	    <a class="remodal-cancel" href="#">Cancel</a>
	    <a class="remodal-confirm" href="#">Share</a>
	</div>
</div>
{% endwith %}
{% endfor %}
{% show_more %}