{% load endless %}

{% paginate 50 object_list %}
{% for uar in object_list %}
{% with uar.article as article %}
	
<!-- 	{% for comment in article.get_comments %}
		<p>{{ comment.text }} - {{ comment.user }} </p>
	{% endfor %} -->

	<li id="uar-{{ uar.pk }}" class="grid-item {% if uar.public %}public{% endif %}" >
		<a class="expand-preview" href="{{ article.url }}" target="_blank" data-largesrc="../static/img/1.jpg" data-title="{{ article.title }}" data-description="{% for tag in article.tags.all %}
            <span class='article-tag'>{{ tag }}</span>
        {% endfor %}{% for author in article.authors.all %}<p id='article-sharedby'>{{ author }}</p>{% endfor %}<p id='article-excerpt'>{{ article.excerpt|truncatechars:140 }}</p>" data-comments="{% if uar.article_share_count > 1 %}<p id='article-sharedby'>Shared by {{ uar.article_share_count }} pe{{ article.share_count|pluralize:"rson,ople" }}</p>{% endif %}<div class='user-comment'>{% for comment in article.get_comments %}<p class='article-comment'><span>{{ comment.text }}</span><br /><span class='author-comment'>- {{ comment.user }} </span></p>{% endfor %}</div><div class='social-shares'><script>var url = '{{ article.url }}'; var facebook_shares = 'http://graph.facebook.com/?id=' + url; var twitter_shares = 'http://cdn.api.twitter.com/1/urls/count.json?url=' + url; $.getJSON(facebook_shares, function(json) { $('.social-shares').append('<p>' + json.shares + ' shares on Facebook</p>'); }); $.ajax({
    url: twitter_shares,
    type: 'GET',
    crossDomain: true,
    dataType: 'jsonp',
    success: function(data) { $('.social-shares').append('<p>' + data.count + ' shares on Twitter</p>');
    },
    error: function() { alert('Failed!'); }
}); </script></div>">
		<div class="article-element">
			<div class="article-content">
				<h1>{{ article.title|truncatechars:50 }}</h1>
				{% for author in article.authors.all %}
				<p>{{ author }}</p>
				{% endfor %}
			</div>
			<div class="img-preview" style="background-image: url({{ article.image }});">
			</div>
			<div class="article-element-footer private-img {% if uar.public %}shared-img{% endif %}">
				<div class="footer-container">
					<p class="open-share-button" data-item-id='{{ uar.pk }}'><i class="fa fa-share"></i></p>
					<p id="article-source">{{ article.read_time }} minute read</p>
				</div>
			</div>
			<div class="article-share-container">
				<p>Share <em>{{ article.title|truncatechars:50 }}</em> on Tellascope.<i class="fa fa-close"></i></p>
				<form class="share-uar" id="form-{{ uar.pk }}" data-item-id='{{ uar.pk }}'>
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{ user.pk }}">
					<input type="hidden" name="item_id" value="{{ uar.pk }}">
					<div class="textarea-wrapper">
						<textarea name="comment" form="form-{{ uar.pk }}" placeholder="Why is this interesting?"></textarea>
					</div>
					<input type="submit" value="submit"/>
				</form>
				<p class="close-share-container" data-item-id='{{ uar.pk }}'></p>
			</div>
		</div>
	</a>
</li>

<!--<div class="remodal" data-remodal-id="modal-{{ uar.pk }}">
	<div class="remodal-body">
	    <h1>{{ article.title }}</h1>
	    <h2>by 
	    {% for author in article.authors.all %}
		{{ author }}
		{% endfor %}
		</h2>

		<form method="POST" class="share-uar" id="form-{{ uar.pk }}">
			{% csrf_token %}
			<input type="hidden" name="user_id" value="{{ user.pk }}">
			<input type="hidden" name="item_id" value="{{ uar.pk }}">
			<input type="text" name="comment">
			<textarea form="form-{{ uar.pk }}"></textarea>
		</form>
	</div>
	<div class="remodal-footer"></div>
	</div>
 -->
{% endwith %}
{% endfor %}
{% show_more %}